<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="co.jp.kuruby.tsukameruMiraiAndroid" android:versionCode="1" android:installLocation="auto" android:versionName="Shiny Alpha">
	<uses-sdk android:targetSdkVersion="27" />
	<application android:label="TsukameruMirai"></application>
</manifest>